
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 40px; /* row | column spacing */
  max-width: 900px;
  padding: 10px;
}
.field{
    display: flex;
    flex-direction: column;
  
}
#firstname,#lastname,#middlename,#e-mail,#pwd,#vpwd{
    width: 300px;
    height: 20px;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    min-height: 600px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.credentials-heading{
    text-align: center;
}
.form-submit-button{
position: relative;
left: 150px;
 background-color:rgba(0,0,255,0.7);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}