*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 334px;
    height: 295px;
    border: solid 2px wheat;
    padding: 110px;
    border-radius: 15px;
     background-color: white;

}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1{
    font-size: 40px;
}
input{
    width: 346px;
    height: 31px;
}
#log-in-button{
    background-color:rgba(0,0,255,0.7);
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}
.sign-up-link{
    padding-left: 60px;
    margin-top: 25px;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}